<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.nibo.spring.boot.mybatis.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO account (id, username, password, age) VALUES (#{id}, #{username}, #{password}, #{age})
    </insert>
    <select id="findUserByNameAndAge" resultType="me.nibo.spring.boot.mybatis.domain.User">
        SELECT t.id, t.username, t.age FROM account t WHERE t.username = #{username} AND t.age = #{age}
    </select>

</mapper>